<%= render 'shared/dashboard' %>

<div class="bookshelf-container">
  <div class="bookshelf-tab">
    <ul>
      <%= link_to @user do %>
				<li class="<%= 'active' if current_page?(current_user) %>">読書中</li>
			<% end %>
			<%= link_to finished_books_user_path do %>
				<li class="<%= 'active' if current_page?(finished_books_user_path) %>">読了</li>
			<% end %>
    </ul>
  </div>
  <div class="bookshelf-body">
		<div class="books-wrapper">
      <%= render partial: 'finished_book', collection: @finished_books, as: :book %>
		</div>
	</div>
</div>
