<div class="card status-container">
  <div class="profile">
    <% if current_user.image.attached? %>
      <%= image_tag current_user.image.variant(resize: '150x200').processed %>
    <% else %>
      <%= image_tag "default.png", class: "profile-img" %>
    <% end %>
  </div>
  <%= link_to "プロフィールを編集する", edit_user_registration_path, class: "btn btn-primary" %>
</div>

<div class="card controller">
  <ul>
    <li class="<%= 'active' if current_page?(current_user) %>"><%= link_to "本棚", current_user %></li>
    <li class="<%= 'active' if current_page?(records_path) %>"><%= link_to "タイムライン", records_path %></li>
    <li class="<%= 'active' if current_page?(users_path) %>"><%= link_to "友達", users_path %></li>
  </ul>
</div>
