<div class="card status-container">
  <div class="profile-container">
    <div class="profile">
      <% if current_user.image.attached? %>
        <%= image_tag @user.image.variant(resize: '150x200').processed %>
      <% else %>
        <%= image_tag "icon.svg", class: "profile-img" %>
      <% end %>
    </div>
    <div class="name">
      <p><%= @user.name %> さん</p>
    </div>
  </div>
  <div class="mypage">
    <div class="col-md-8">
      <%= render 'relationships/follow_form' if user_signed_in? %>
    </div>
    <%= link_to "プロフィールを編集する", edit_user_registration_path, class: "btn btn-primary" %>
  </div>
  <hr>
  <div class="controller">
    <ul>
      <% if current_page?(@user) || current_page?(finished_books_user_path(@user)) %>
        <li class="active"><%= link_to "本棚", @user %></li>
      <% else %>
        <li><%= link_to "本棚", @user %></li>
      <% end %>
      <% if current_page?(user_records_path(@user)) ||
        current_page?(show_comment_user_records_path(@user)) ||
        current_page?(show_review_user_records_path(@user)) %>
        <li class="active">
          <%= link_to "タイムライン", user_records_path(@user) %>
        </li>
      <% else %>
        <li><%= link_to "タイムライン", user_records_path(@user) %></li>
      <% end %>
      <li class="<%= 'active' if current_page?(followings_user_path(@user)) %>">
        <%= link_to followings_user_path(@user) do %>
          フォロー(<%= @user.following.count %>)
        <% end %>
      </li>
      <li class="<%= 'active' if current_page?(followers_user_path(@user)) %>">
        <%= link_to followers_user_path(@user) do %>
          フォロワー(<%= @user.followers.count %>)
        <% end %>
      </li>
    </ul>
  </div>
</div>
