<%= turbo_frame_tag @record do %>
  <%= form_with model: @new_record do |f| %>
    <%= f.hidden_field :category, value: "無分類"%>
    <%= f.hidden_field :book_id, value: @record.book.id %>
      <div class="post-form-container">
        <div class="card">
          <header><p>更新中</p></header>
          <div class="post-form-wrapper">
            <div class="post-form">
              <div class="done-up-to">
                <strong>どこまで読み終えましたか？(必須)</strong>
                <div class="form-group">
                  <p><%= f.number_field :done_up_to, in: record.done_up_to + 1.. record.book.page_count, class: "form-control", value: record.done_up_to %></p>
                  <p>&nbsp; / <%= record.book.page_count %>ページ</p>
                </div>
              </div>
              <hr>
              <div class="content">
                <strong>ここまでの感想（任意）</strong>
                <br>
                <br>
                <%= f.text_area :content, class: 'content', placeholder: 'ex) クライマックスになってすごく盛り上がってきた！！ ' %>
              </div>
              <hr>
              <div class="link-group">
                <%= f.submit "更新", class: "btn btn-primary" %>
                <%= link_to "キャンセル", current_user, class: "btn btn-secondary" %>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
<% end %>
