<%= turbo_frame_tag book.records.order(created_at: :desc).limit(1)[0] do %>
  <div class="tr-container">
    <div class="tr-content">
      <div class="td-content chart-content">
        <% #暫定的に読書進捗率の計算式をこれにする　小数点の扱いに難あり %>
        <% @percent = book.records.order(created_at: :desc).limit(1)[0].done_up_to * 100 / book.page_count unless book.page_count.nil? %>
        <svg>
          <circle class="base" cx="40" cy="40" r="35"></circle>
          <circle class="line" cx="40" cy="40" r="35"
            style="stroke-dashoffset: calc(220 - (220 * <%= @percent %>) / 100)">
          </circle>
        </svg>
        <div class="number">
          <p class="percent"><span><%= @percent %></span>%</p>
          <p class="page-number"><span><%= "#{book.records.order(created_at: :desc).limit(1)[0].done_up_to}/#{book.page_count}" %><br></span>ページ</p>
        </div>
      </div>
      <div class="td-content td-title">
        <%= image_tag book.thumbnail %>
        <p><%= book.title %></p>
      </div>
      <div class="td-content"><%= book.author %></div>
      <div class="td-content td-btn">
        <%= link_to "更新", new_record_path(record_id: book.records.order(created_at: :desc).limit(1)[0].id), class: "btn btn-sm btn-outline-primary", data: { turbo_frame: dom_id(Record.new) } %>
        <br>
        <%= link_to "削除", book, class: "btn btn-sm btn-outline-danger", data: { turbo_method: :delete, turbo_confirm: "読書記録を削除しますか？" } %>
        <br>
        <%= link_to "詳しく見る", book_path(book), class: "btn btn-sm btn-outline-primary book_detail" %>
      </div>
    </div>
  </div>
<% end %>