<%= turbo_frame_tag book do %>
  <div class="tr-container">
    <div class="tr-content">
      <div class="td-content chart-content">
        <svg>
          <circle class="base" cx="40" cy="40" r="35"></circle>
          <circle class="line" cx="40" cy="40" r="35"
            style="stroke-dashoffset: calc(220 - (220 * <%= @percent %>) / 100)">
          </circle>
        </svg>
        <div class="number">
        </div>
      </div>
      <div class="td-content td-title">
        <%= image_tag book.thumbnail %>
        <%= book.title %>
      </div>
      <div class="td-content"><%= book.author %></div>
      <div class="td-content">
        <%= link_to "詳しく見る", book_path(book), class: "btn btn-sm btn-outline-primary book_detail" %>
      </div>
    </div>
  </div>
<% end %>
