<div>
  <%= image_tag @book[:thumbnail] %>
</div>
<h3 style="display:inline;">登録情報</h3>
<ul>
  <li>
    <h5>タイトル : &nbsp</h5><span><%= @book[:title] %></span>
  </li>
  <li>
    <h5>著者 : &nbsp</h5><span><%= @book[:author] %></span>
  </li>
  <li>
    <h5>出版社 : &nbsp</h5><span><%= @book[:publisher] %></span>
  </li>
  <li>
    <h5>発売日 : &nbsp</h5><span><%= @book[:published_date] %></span>
  </li>
  <li>
    <h5>ページ数 : &nbsp</h5><span><%= @book[:page_count] %></span>
  </li>
  <li>
    <h5>ISBN 10 : &nbsp</h5><span><%= @book[:isbn_10] %></span>
  </li>
  <li>
    <h5>ISBN 13 : &nbsp</h5><span><%= @book[:isbn_13] %></span>
  </li>
  <li id="book-info-desc">
    <h5>概要 : &nbsp</h5>
    <div><%= @book[:description] %></div>
  </li>
</ul>