<div class="detail-container">
  <div class="book-detail-container">
    <div class="book-detail">
      <div class="book-img">
        <%= image_tag @book[:thumbnail] %>
      </div>
      <div class="link" id="modal2">
        <% unless @books.include?(@book[:isbn_10]) %>
          <modal-window>
            <template v-slot:modal-img><%= image_tag @book[:thumbnail], class: "modal-img" %></template>
            <template v-slot:modal-title><%= @book[:title] %></template>
            <template v-slot:form>
              <%= form_with model: @register_book_form, url: books_path, local: true do |f| %>

                <%= f.label :title, "タイトル", class: "book-form-label" %>
                <%= f.text_field :title, class: "form-control book-form", value: @book[:title] %>

                <%= f.label :author, "著者", class: "book-form-label" %>
                <%= f.text_field :author, class: "form-control book-form", value: @book[:author] %>

                <%= f.label :title, "ページ数", class: "book-form-label" %>
                <%= f.text_field :page_count, class: "form-control book-form", value: @book[:page_count] %>

                <%= f.label :publisher, "出版社", class: "book-form-label" %>
                <%= f.text_field :publisher, class: "form-control book-form", value: @book[:publisher] %>

                <%= f.label :published_date, "発行日", class: "book-form-label" %>
                <%= f.date_field :published_date, class: "form-control book-form", value: @book[:published_date] %>

                <%= f.label :category, "カテゴリー", class: "book-form-label" %>
                <%= f.select :category, [
                  ['無分類', '無分類'],
                  ['ビジネス', 'ビジネス'],
                  ['文芸', '文芸'],
                  ['一般・教養', '一般・教養'],
                  ['旅行ガイド', '旅行ガイド'],
                  ['趣味実用', '趣味実用'],
                  ['自己啓発', '自己啓発'],
                  ['こども', 'こども'],
                  ['教育・学習', '教育・学習']
                ], { selected: '無分類'}, { class: "form-select" } %>
                <%= f.hidden_field :description, value: @book[:description] %>
                <%= f.hidden_field :thumbnail, value: @book[:thumbnail] %>
                <%= f.hidden_field :isbn_10, value: @book[:isbn_10] %>
                <%= f.hidden_field :isbn_13, value: @book[:isbn_13] %>
                <%= f.hidden_field :done_up_to, value: 0 %>
                <%= f.hidden_field :status, value: 0 %>
                <%= f.hidden_field :content, value: "「#{@book[:title]}」の読書を開始しました" %>
                <br>
                <%= f.submit "読書を開始しよう", class: "btn btn-primary" %>
                &ensp;
                <%= link_to "本の詳細を見る", detail_books_path(isbn_10: @book[:isbn_10]), class: "btn btn-primary" %>
              <% end %>
            </template>
          </modal-window>
        <% end %>
      </div>
      <hr>
      <h3 style="display:inline;">登録情報</h3>
      <div class="info">
        <p>タイトル: <%= @book[:title] %></p>
        <p>著者: <%= @book[:author].join('') %></p>
        <p>出版社: <%= @book[:publisher] %></p>
        <p>出版日: <%= @book[:published_date] %></p>
        <p>ページ数: <%= @book[:page_count] %></p>
        <p>ISBN_10: <%= @book[:isbn_10] %></p>
        <p>ISBN_13: <%= @book[:isbn_13] %></p>
        <p>説明: <br><%= @book[:description] %></p>
      </div>
    </div>

  </div>
  <div class="timeline">
    <div class="record-wrapper">
      <div class="record-header">
        <h4>関連の投稿</h4>
      </div>
      <%= render @records %>
    </div>
  </div>
</div>
