<div class="detail-container">
  <div class="book-detail-container">
    <div class="book-detail">
      <div class="book-img">
        <%= image_tag @book[:thumbnail] %>
      </div>
      <hr>
      <h3 style="display:inline;">登録情報</h3>
      <div class="info">
        <p>タイトル: <%= @book[:title] %></p>
        <p>著者: <%= @book[:author].join('') %></p>
        <p>出版社: <%= @book[:publisher] %></p>
        <p>出版日: <%= @book[:published_date] %></p>
        <p>ページ数: <%= @book[:page_count] %></p>
        <p>ISBN_10: <%= @book[:isbn_10] %></p>
        <p>ISBN_13: <%= @book[:isbn_13] %></p>
        <p>説明: <br><%= @book[:description] %></p>
      </div>
    </div>

  </div>
  <div class="timeline">
    <div class="record-wrapper">
      <div class="record-header">
        <h4>関連の投稿</h4>
      </div>
      <%= render @records %>
    </div>
  </div>
</div>
