<!DOCTYPE html>
<html>
  <head>
    <title>Readiary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_import_module_tag 'controllers/application' %>

    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp|Material+Icons+Two+Tone" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div id="flash">
      <%= render 'layouts/flash' %>
    </div>
    <div class="main">
      <%= yield %>
    </div>
    <div class="footer-container">
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
